$def with (renderDict)
<h3>欢迎回来，$renderDict['user'].title</h3>
<span class="subtitle">本站还处于ALPHA测试阶段</span>
<hr>
<div class="leading clearfix">
						<div class="column width3 first">
							<div class="content-box corners">
								<header style="cursor: s-resize; ">
									<h3><img src="/static/themes/desktop/administration/img/information.png" alt="">Nunc tincidunt</h3>
								</header>
								<section>
									<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
									<table class="no-style full">
										<tbody>
											<tr>
												<td><b>Users</b></td>
												<td class="ta-right">11</td>
											</tr>
											<tr>
												<td><b>Posts</b></td>
												<td class="ta-right">22</td>
											</tr>
											<tr>
												<td><b>Comments</b></td>
												<td class="ta-right">332</td>
											</tr>
										</tbody>
									</table>
								</section>
							</div>
							
						</div>
						
						<div class="column width3">
							
							<div class="content-box corners">
								<header style="cursor: s-resize; ">
									<h3><img src="/static/themes/desktop/administration/img/information.png" alt="">这是什么？</h3>
								</header>
								<section>
									这是我的个人网站，不过也同样是一个在SAE上的CMS的测试版。现在仅仅在做内部测试，还有很多功能不全的地方。
									<p>
										比如当你在用IE看这个页面的时候，可能看到的是一个乱糟糟的页面。我建议你使用Firefox,Safari,Chrome,Opera或者IE9中的任何一个浏览器来访问本站。
									</p>
									<p>
										如果你也想要这样一个网站：
									</p>
									<p>
										<a href="#" class="btn btn-blue">我也想要这样的个人网站</a>
									</p>
									<p>
										我会在申请中随机抽取用户。所以运气好的话，你也可以有这样一个网站。
									</p>
								</section>
							</div>
						
						</div>
						
					</div>