$def with (renderDict)
	<!-- Page footer -->
	<footer id="bottom">
		<div class="wrapper">
			<nav>
			$for link in renderDict['links']:
				<a href="$link.url">$link.title</a> ·
			</nav>
			<p>Copyright © $renderDict['year'] <b><a href="http://flames.sinaapp.com" target="_blank">flames.sinaapp.com</a></b></p>
		</div>
	</footer>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<footer id="animated" style="opacity: 0; ">
		<ul>
		$for link in renderDict['links']:
			<li><a href="$link.url">$link.title</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->