$def with (renderDict)
<head>
<meta charset="utf-8">
<title>欢迎登录，$renderDict['user'].title</title>
<meta name="description" content="Management backend of the cms">
<meta name="keywords" content="Admin,Template">
<!-- We need to emulate IE7 only when we are to use excanvas -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<![endif]-->
<!-- Favicons --> 
<link rel="shortcut icon" type="image/png" href="/static/themes/desktop/administration/img/favicons/favicon.png">
<link rel="icon" type="image/png" href="/static/themes/desktop/administration/img/favicons/favicon.png">
<link rel="apple-touch-icon" href="/static/themes/desktop/administration/img/favicons/apple.png">
<!-- Main Stylesheet --> 
<link rel="stylesheet" href="/static/themes/desktop/administration/css/style.css" type="text/css">
<!-- Colour Schemes
Default colour scheme is blue. Uncomment prefered stylesheet to use it.
<link rel="stylesheet" href="/static/themes/desktop/administration/css/brown.css" type="text/css" media="screen" />  
<link rel="stylesheet" href="/static/themes/desktop/administration/css/gray.css" type="text/css" media="screen" />  
<link rel="stylesheet" href="/static/themes/desktop/administration/css/green.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/themes/desktop/administration/css/pink.css" type="text/css" media="screen" />  
<link rel="stylesheet" href="/static/themes/desktop/administration/css/red.css" type="text/css" media="screen" />
-->
<!-- Your Custom Stylesheet --> 
<link rel="stylesheet" href="/static/themes/desktop/administration/css/custom.css" type="text/css">
<!--swfobject - needed only if you require <video> tag support for older browsers -->
<script type="text/javascript" src="/static/themes/desktop/administration/js/swfobject.js"></script>
<!-- jQuery with plugins -->
<!-- <script type="text/javascript" src="/static/themes/desktop/administration/js/jquery-1.4.2.min.js"></script> -->
<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
<!-- Could be loaded remotely from Google CDN : <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.ui.tabs.min.js"></script>
<!-- jQuery tooltips -->
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.tipTip.min.js"></script>
<!-- Superfish navigation -->
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.superfish.min.js"></script>
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.supersubs.min.js"></script>
<!-- jQuery form validation -->
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.validate_pack.js"></script>
<!-- jQuery popup box -->
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.nyroModal.pack.js"></script>
<!-- jQuery graph plugins -->
<!--[if IE]><script type="text/javascript" src="/static/themes/desktop/administration/js/flot/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="/static/themes/desktop/administration/js/flot/jquery.flot.min.js"></script>
<!-- Internet Explorer Fixes --> 
<!--[if IE]>
<link rel="stylesheet" type="text/css" media="all" href="/static/themes/desktop/administration/css/ie.css"/>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
<!--[if lt IE 8]>
<script src="/static/themes/desktop/administration/js/IE8.js"></script>
<![endif]-->
<script src="/static/themes/desktop/emplode/js/jquery.cookie.js"></script>
<script type="text/javascript">

function logout(){
	$$.cookie('uis','null',{path:'/'});
	window.location.replace("/manage/")
};

$$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	/* progress bar animations - setting initial values */
	// Administry.progress("#progress1", 1, 5);
	// Administry.progress("#progress2", 2, 5);
	// Administry.progress("#progress3", 2, 5);

	/* flot graphs */
	// var sales = [{
	// 	label: 'Total Paid',
	// 	data: [[1, 0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,900],[8,0],[9,0],[10,0],[11,0],[12,0]]
	// },{
	// 	label: 'Total Due',
	// 	data: [[1, 0],[2,0],[3,0],[4,0],[5,0],[6,422.10],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0]]
	// }
	// ];

	// var plot = $$.plot($$("#placeholder"), sales, {
	// 	bars: { show: true, lineWidth: 1 },
	// 	legend: { position: "nw" },
	// 	xaxis: { ticks: [[1, "Jan"], [2, "Feb"], [3, "Mar"], [4, "Apr"], [5, "May"], [6, "Jun"], [7, "Jul"], [8, "Aug"], [9, "Sep"], [10, "Oct"], [11, "Nov"], [12, "Dec"]] },
	// 	yaxis: { min: 0, max: 1000 },
	// 	grid: { color: "#666" },
	// 	colors: ["#0a0", "#f00"]			
 //    });

});
</script>
</head>