$def with (renderDict)
<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title">
			<!-- <img src="img/logo.png" alt="Administry"> -->
			<span>$renderDict['title'].split(',')[0]</span> $renderDict['title'].split(',')[1]
			</div>
			<!-- Top navigation -->
			<div id="topnav">
				<a href="#"><img class="avatar" src="$renderDict['user'].avatar" alt=""></a>
				欢迎登录,<b>$renderDict['user'].title</b>
				<span>|</span> <a href="/manage/帐户设置/">设置</a>
				<span>|</span> <a href="javascript:logout();">退出</a><br>
				<!-- <small>您有 <a href="#" class="high"><b>len(renderDict['message'])</b> 条新消息</a></small> -->
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			$:renderDict['nav']
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<!-- <aside><b>English</b> · <a href="#">Spanish</a> · <a href="#">German</a></aside> -->
			<!-- End of Aside links -->
		</div>
	</header>