$def with (renderDict)
<script type="text/javascript">
$$(document).ready(function(){
	Administry.progress("#progress1", $renderDict['user'].level, 10000);
	Administry.progress("#progress2", $renderDict['data_accomplishment'], 17.0);
	// Administry.progress("#progress3", 2, 5);
});
</script>
<div id="rightmenu">
		<header>
			<h3>我的帐号</h3>
		</header>
		<dl class="first">
			<dt><img width="16" height="16" alt="" src="/static/themes/desktop/administration/img/key.png"></dt>
			<dd><a href="/manage/帐户设置/">$renderDict['user'].title ( $renderDict['user'].type )</a></dd>
			<dd class="last">您的帐号</dd>

			<dt><img width="16" height="16" alt="" src="/static/themes/desktop/administration/img/help.png"></dt>
			<dd><a href="#">帮助</a></dd>
			<dd class="last">帮助和提问</dd>
		</dl>
</div>

<div class="content-box">
	<header style="cursor: s-resize; ">
		<h3>基本信息</h3>
	</header>
	<section>
		
		<dl>
			<dd>昵称：$renderDict['user'].title</dd>
		</dl>

		
		<dl>
			<dd>等级：LEVEL $renderDict['user'].level</dd>
		</dl>
		<div id="progress1" class="progress full progress-green" value="$renderDict['user'].level">
		<span style="width: $renderDict['user'].level/10000; display: block; ">
		<b style="display: inline; ">$renderDict['user'].level</b>
		</span>
		</div>


		<dl>
			<dd>资料完成度：$(int(renderDict['data_accomplishment']/17.00*100))%</dd>			
		</dl>
		<div id="progress2" class="progress full progress-blue" value="$renderDict['user'].level">
		<span style="width: $renderDict['data_accomplishment']/13; display: block; ">
		<b style="display: inline; ">$renderDict['data_accomplishment']</b>
		</span>
		</div>

	</section>
</div>