$def with (renderDict)
<h3>你好，$renderDict['user'].title</h3>

<form id="sampleform" method="post" action="#">

						<fieldset>
							<legend>以下是你的个人信息，请编辑</legend>
							
							$if renderDict['user'].password == "":
								<div class="box box-warning">注意，你尚未为您的帐号设定密码</div>
							$if renderDict['user'].mail_addr == "":
								<div class="box box-warning">注意，你的资料填写不完整：尚未填写Email地址</div>
							$if renderDict['user'].sina_id == "":
								<div class="box box-warning">注意，你可以绑定新浪微薄哦</div>
								

							<p>
								<label class="required" for="password">密码:</label><br>
								<input type="password" id="lastname" class="half" value="$renderDict['user'].password" name="password">
							</p>

							<p>
								<label class="required" for="password_confirm">确认密码:</label><br>
								<input type="password" id="password_confirm" class="half" value="$renderDict['user'].password" name="password_confirm">
							</p>
							
							<p>
								<label for="email">邮件地址:</label><br>
								<input type="text" id="email" class="half" value="$renderDict['user'].mail_addr" name="email">
							</p>
							
							<p>
								<label for="email">新浪微博:</label><br>
								$if renderDict['user'].sina_id == 0:
									您尚未绑定新浪微博：<a href="/oauth/sina">点击绑定</a>
								$else:
									您已经绑定新浪微博
							</p>

							<p>
								<label for="email">人人帐号:</label><br>
								$if renderDict['user'].rr_id == 0:
									您尚未绑定人人帐号：<a href="/oauth/renren">点击绑定</a>
								$else:
									您已经绑定人人帐号
							</p>

							<p>
								<label for="email">腾讯微博:</label><br>
								$if renderDict['user'].qq_id == "":
									您尚未绑定腾讯微博：<a href="/oauth/qq">点击绑定</a>
								$else:
									您已经绑定腾讯微博
							</p>

							<p>
								<input type="submit" class="btn btn-green big" value="确认修改">
							</p>
							

						</fieldset>

					</form>