$def with (renderDict)


<h3>前台导航</h3>
<span class="subtitle">可以修改连接名称，URL</span>
<table class="display stylized" id="example" style="width: 738px; ">
						<thead>
							<tr>
								<th style="width: 125px; " class="sorting_asc">ID</th>
								<th style="width: 135px; " class="sorting">标题</th>
								<th style="width: 173px; " class="sorting">连接</th>
								<th style="width: 105px; " class="sorting">父连接</th>
								<th style="width: 80px; " class="sorting">编辑</th>
							</tr>
						</thead>
						<tbody>
						$for item in renderDict['out']:
							<tr class="gradeA odd">
								<td class=" sorting_1">$item.id</td>
								<td>$item.title</td>
								<td>$item.url</td>
								<td class="center">$item.parent</td>
								<td class="center">Up,Down,Delete</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>标题</th>
								<th>连接</th>
								<th>父连接</th>
								<th>编辑</th>
							</tr>
						</tfoot>
</table>
<h3>后台导航连接</h3>
<span class="subtitle">用于后台的导航连接，请勿乱动</span>
<table class="display stylized" id="example" style="width: 738px; ">
						<thead>
							<tr>
								<th style="width: 125px; " class="sorting_asc">ID</th>
								<th style="width: 135px; " class="sorting">标题</th>
								<th style="width: 173px; " class="sorting">连接</th>
								<th style="width: 105px; " class="sorting">父连接</th>
								<th style="width: 80px; " class="sorting">编辑</th>
							</tr>
						</thead>
						<tbody>
						$for item in renderDict['admin']:
							<tr class="gradeA odd">
								<td class=" sorting_1">$item.id</td>
								<td>$item.title</td>
								<td>$item.url</td>
								<td class="center">$item.parent</td>
								<td class="center">Up,Down,Delete</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>标题</th>
								<th>连接</th>
								<th>父连接</th>
								<th>编辑</th>
							</tr>
						</tfoot>
</table>