$def with (renderDict)
<aside class="column width2">
					<p><a a href="javascript:void(0);" onclick="javascript:document.forms[0].submit();" class="btn btn-special btn-green"><img src="/static/themes/desktop/administration/img/page_white_go.png" class="icon" alt="">发布</a></p>
					<div class="content-box">
						<header style="cursor: s-resize; ">
							<h3>标签</h3>
						</header>
						<section>
							请用逗号分割标签
							<p>
<textarea id="tags" class="full" name="tags">
$if renderDict['tags'] != None:$for tag in renderDict['tags']:$tag.title,
</textarea>
</form>
</fieldset>
							</p>
						</section>
					</div>
					<div id="rightmenu">
						<dl class="first">
							<dt><img width="16" height="16" alt="" src="/static/themes/desktop/administration/img/help.png"></dt>
							<dd><a href="#">帮助</a></dd>
							<dd class="last">如需要帮助请查看"帮助"</dd>							
						</dl>
					</div>
				</aside>