$def with (renderDict)
<script type="text/javascript" src="/static/themes/desktop/administration/js/jquery.wysiwyg.min.js"></script>

<script type="text/javascript">
$$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	$$('#nodedesc').wysiwyg({
    controls: {
      strikeThrough : { visible : true },
      underline     : { visible : true },
      
      justifyLeft   : { visible : true },
      justifyCenter : { visible : true },
      justifyRight  : { visible : true },
      justifyFull   : { visible : true },
      
      indent  : { visible : true },
      outdent : { visible : true },
      
      subscript   : { visible : true },
      superscript : { visible : true },
      
      undo : { visible : true },
      redo : { visible : true },
      
      insertOrderedList    : { visible : true },
      insertUnorderedList  : { visible : true },
      insertHorizontalRule : { visible : true },

      h4: {
              visible: true,
              className: 'h4',
              command: $$.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$$.browser.msie ? '<h4>' : 'h4'],
              tags: ['h4'],
              tooltip: 'Header 4'
      },
      h5: {
              visible: true,
              className: 'h5',
              command: $$.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$$.browser.msie ? '<h5>' : 'h5'],
              tags: ['h5'],
              tooltip: 'Header 5'
      },
      h6: {
              visible: true,
              className: 'h6',
              command: $$.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$$.browser.msie ? '<h6>' : 'h6'],
              tags: ['h6'],
              tooltip: 'Header 6'
      },
      
      cut   : { visible : true },
      copy  : { visible : true },
      paste : { visible : true },
      html  : { visible: true }
    }
  }); 
});
</script>
<section class="column width6 first">					

					<h3>$renderDict['link'].title</h3>
					
					<form id="sampleform" method="post" action="#">

						<fieldset>
							<legend>$renderDict['link'].title</legend>

							<p>
								<label class="required" for="producttitle">标题</label><br>
								$if renderDict['node'] != None:
									<input type="text" id="producttitle" class="half title" value="$renderDict['node'].title" name="producttitle">
								$else:
									<input type="text" id="producttitle" class="half title" value="" name="producttitle">
								<small>e.g. 我的一天</small>
							</p>

							<p>
								<label for="nodedesc">内容</label><br>
<textarea id="nodedesc" class="large full" name="nodedesc">
$if renderDict['node'] != None:
  $renderDict['node'].body
</textarea>
							</p>
							
						

				</section>