$def with (renderDict)
<div id="pagetitle">
		<div class="wrapper">
			<h1>$renderDict['title']</h1>
			<!-- Quick search box -->
			<!-- <form action="" method="get"><input class="" type="text" id="q" name="q"></form> -->
		</div>
</div>