$def with (renderDict)
<div id="rightmenu">
						<header>
							<h3>创建$renderDict['link'].title</h3>
						</header>
						<dl class="first">							
							<dt><img width="16" height="16" alt="" src="/static/themes/desktop/administration/img/add.png"></dt>
							<dd><a href="/manage/新建$renderDict['link'].title/">新建$renderDict['link'].title</a></dd>
							<dd class="last">今天您想新建点什么$renderDict['link'].title吗？</dd>
						</dl>
</div>
<div class="clear">&nbsp;</div>