$def with (renderDict)
<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>设置 ID</th>
								<th>项目名称</th>
								<th>值</th>
								</tr>
						</thead>

						<tbody>
						$for setting in renderDict['settings']
							<tr>
								<td class="title">
									<div style="z-index: 3; ">
										<b>
										$setting.id
										</b>
									</div>
								</td>
								<td>
										$if setting.title == "description":
											网站描述（SEO用）
										$elif setting.title == "keywords":
											关键词
										$elif setting.title == "author":
											作者
										$elif setting.title == "css":
											CSS文件路径
										$elif setting.title == "title":
											网站标题
										$elif setting.title == "slogan":
											网站副标题
										$elif setting.title == "theme":
											网站界面主题
										$elif setting.title == "PageLength":
											页面长度
										$elif setting.title == "admin_theme":
											后台界面主题
										$else:
											$setting.title
								</td>
								<td><input type="text" id="username" class="half valid" value="$setting.value" name="username"></td>
							</tr>
						</tbody>
</table>