$def with (renderDict)
<div id="main_content">

						<h2>$renderDict['kind']</h2>

			<div class="post_meta archive_pagination">
							$if renderDict['CurrPage'] != renderDict['Page']['PrevPage']:
								<div class="left"><a href="/$renderDict['NodeType']/Page/$renderDict['Page']['PrevPage']">« 上一页</a></div>
							$if renderDict['CurrPage'] != renderDict['Page']['NexPage']:
								<div class="right"><a href="/$renderDict['NodeType']/Page/$renderDict['Page']['NexPage']">下一页 »</a></div>
							$if renderDict['CurrPage'] == renderDict['Page']['NexPage']:
								<div class="right">只有这页了</div>
							<div class="clearer">&nbsp;</div>
							
			</div>
					$if len(renderDict['nodes']) != 0:
						$for node in renderDict['nodes']
							<div class="archive_post">

								<div class="archive_post_date">
									<div class="archive_post_day">$node.rdate.day</div>
									<div class="archive_post_month">$strfmonth(node.rdate.month)</div>
								</div>

								<div class="archive_post_title">
									<h3><a href="http://templates.arcsin.se/emplode-website-template/">$node.title</a></h3>
									<div class="post_date">
								$if renderDict['Tag']:
									$if node.tags != None:
										标签: 
										$for tag in node.tags.split(','):
											<a href="/tag/$tag">$tag</a> 
									$else:
										木有标签 
								|
								$if renderDict['Comment']:
									<a href="/$renderDict['NodeType']/Article/$node.title">
									$if node.comments != None:
										$len(node.comments.split(',')) 条评论</a> | 
									$else:
										我来坐沙发</a> |
							 	</div>
								</div>

								<div class="clearer">&nbsp;</div>

							</div>
					$else:
						<div class="archive_post">这个归档分类还木有文章</div>

			<div class="post_meta archive_pagination">
							$if renderDict['CurrPage'] != renderDict['Page']['PrevPage']:
								<div class="left"><a href="/$renderDict['NodeType']/Archive/$renderDict['kind']/$renderDict['Page']['PrevPage']">« 上一页</a></div>
							$if renderDict['CurrPage'] != renderDict['Page']['NexPage']:
								<div class="right"><a href="/$renderDict['NodeType']/Archive/$renderDict['kind']/$renderDict['Page']['NexPage']">下一页 »</a></div>
							$if renderDict['CurrPage'] == renderDict['Page']['NexPage']:
								<div class="right">只有这页了</div>
							<div class="clearer">&nbsp;</div>
							
			</div>
								
</div>