$def with (renderDict)
<div id="footer">
	<div class="center_wrapper">

		<div class="left">
			&copy; $renderDict['year'] $renderDict['slogan']
		</div>
		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>
</div>