$def with (renderDict)
<div id="header">
	<div class="center_wrapper">
		
		<div id="toplinks">
			<div id="toplinks_inner">
			$if renderDict['user']:
				欢迎登录，<a href="/Admin/Login/">$renderDict['user'].title</a> | <a href="javascript:logout();">退出</a>
			$else:
				<a href="/Admin/Login/">登录</a> | <<< 请点击左边连接登录
			|
			$for link in renderDict['toplinks']
				<a href="$link.url">$link.title</a>
			</div>
		</div>
		<div class="clearer">&nbsp;</div>

		<div id="site_title">
			<h1><a href="/">$renderDict['title'].split(',')[0] <span>$renderDict['title'].split(',')[1]</span></a></h1>
			<p>$renderDict['slogan']</p>
		</div>

	</div>
</div>