$def with (renderDict)
<head>
	<meta property="wb:webmaster" content="ed7142e4025b686f" />
	<meta property="qc:admins" content="65177222701631611006375" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="$renderDict['description']"/>
	<meta name="keywords" content="$renderDict['keywords']" />
	<meta name="author" content="$renderDict['author']" />
$for css in renderDict['css']:
	<link rel="stylesheet" type="text/css" href="$css.value" media="screen" />
<script type="text/javascript">
function logout(){
	$$.cookie('uis', null);
	window.location.replace("/")
};
</script>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script src="/static/themes/desktop/emplode/js/jquery.cookie.js"></script>
<title>$renderDict['title']</title>
</head>