$def with (renderDict)
					<div class="box">

						<div class="box_title">Gallery</div>

						<div class="box_content">

							<div class="thumbnails">
							$for link in renderDict['links']
								<a href="$link.url" class="thumb"><img src="$link.imgurl" width="75" height="75" alt="" /></a>

								<div class="clearer">&nbsp;</div>

							</div>

						</div>

					</div>