$def with (renderDict)
<div id="navigation">
	<div class="center_wrapper">
	
		<ul>
		$for link in renderDict['links']:
			<li 
			$if renderDict['current_link'] == link.url:
				class="current_page_item"
			><a href="$link.url">$link.title</a></li>
		</ul>

		<div class="clearer">&nbsp;</div>

	</div>
</div>