$def with (renderDict)
			<div id="main_content">
				$for node in renderDict['nodes']:	
					<div class="post">

						<div class="post_title"><h2><a href="/$renderDict['NodeType']/Article/$node.title">$node.title</a></h2></div>
						<div class="post_date">$node.rdate
						$if renderDict['User']: 
							by <a href="/user/$node['author']">$node.author</a>
						
						</div>
						<div class="post_body">
							$node.body
						</div>
						</br>
							$if renderDict['Comment'] + renderDict['Tag']:
								<div class="post_meta">
								$if renderDict['Comment']:
									<a href="/$renderDict['NodeType']/Article/$node.title">
									$if node.comments != None:
										$len(node.comments.split(',')) 条评论</a> | 
									$else:
										我来坐沙发</a> |
								$if renderDict['Tag']:
									$if node.tags != None:
										标签: 
										$for tag in node.tags.split(','):
											<a href="/tag/$tag">$tag</a> 
									$else:
										木有标签
								</div>
					</div>

			<div class="post_meta archive_pagination">
							$if renderDict['CurrPage'] != renderDict['Page']['PrevPage']:
								<div class="left"><a href="/$renderDict['NodeType']/Page/$renderDict['Page']['PrevPage']">« 上一页</a></div>
							$if renderDict['CurrPage'] != renderDict['Page']['NexPage']:
								<div class="right"><a href="/$renderDict['NodeType']/Page/$renderDict['Page']['NexPage']">下一页 »</a></div>
							$if renderDict['CurrPage'] == renderDict['Page']['NexPage']:
								<div class="right">只有这页了</div>
							<div class="clearer">&nbsp;</div>
							
			</div>
			
			</div>