$def with (renderDict)
<div id="main_content">

						<div class="post">

							<div class="post_title"><h2>$renderDict['node'].title</h2></div>

							<div class="post_date">$renderDict['node'].rdate by <a href="#">$renderDict['author']</a></div>
							
							<div class="post_body">
							
								$renderDict['node'].body

							</div>
							</br>
							<div class="post_meta">
								$if len(renderDict['tags']) != 0:							
									标签:
									$for tag in renderDict['tags']:
											<a href="#">$tag.title</a>
								$else:
									这文章木有标签
							</div>
							</br>
							<div class="post_meta">
							<script type="text/javascript" charset="utf-8">
(function(){
  var _w = 90 , _h = 24;
  var param = {
    url:location.href,
    type:'2',
    count:'1', /**是否显示分享数，1显示(可选)*/
    appkey:'4251376362', /**您申请的应用appkey,显示分享来源(可选)*/
    title:"$renderDict['node'].title", /**分享的文字内容(可选，默认为所在页面的title)*/
    pic:'', /**分享图片的路径(可选)*/
    ralateUid:'1951447215', /**关联用户的UID，分享微博会@该用户(可选)*/
	language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
})()
</script>
</div>
						</div>

						<h3 class="left">评论</h3>
						<p class="right"><a href="#reply">我来发表评论 »</a></p>

						<div class="clearer">&nbsp;</div>

						<div class="comment_list">
						$if len(renderDict['comments']) != 0:
							$for comment in renderDict['comments']
								<div class="comment alt">

									<div class="comment_gravatar left"><img alt="" src="$comment.avatar" height="32" width="32"></div>

									<div class="comment_author left">
										$comment.author
										<div class="comment_date"><a href="#">$comment.rdate</a></div>
									</div>

									<div class="clearer">&nbsp;</div>
									
									<div class="comment_body">									
										<p>$comment.body</p>
									</div>
					
								</div>
						$else:
							<div class="comment alt">

								<div class="comment_gravatar left"><img alt="" src="/static/themes/desktop/emplode/sample-gravatar.jpg" height="32" width="32"></div>

								<div class="comment_author left">
									这文章还木有人评论
									<div class="comment_date"><a href="#"></a></div>
								</div>

								<div class="clearer">&nbsp;</div>
								
								<div class="comment_body">									
									<p></p>
								</div>
				
							</div>
							
						</div>

						<form action="" method="post" id="reply">

							<fieldset>

								<div class="legend"><h3>我来评论</h3></div>
								
								<div class="form_row">
									
									<div class="form_property form_required">匿名评论</div>
									<div class="form_value"><textarea rows="10" cols="46" name="comment"></textarea></div>

									<div class="clearer">&nbsp;</div>

								</div>

								<div class="form_row form_row_submit">
									
									<div class="form_value"><input type="submit" class="button" value="Submit Comment"></div>

									<div class="clearer">&nbsp;</div>

								</div>
							
							</fieldset>

						</form>
									
					</div>