$def with (renderDict)
					<div class="box">

						<div class="box_title">$renderDict['linktitle']</div>

						<div class="box_content">
							$for link in renderDict['links']:
								<a href="$link.url">$link.title</a> |
						</div>

					</div>